<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="style.css">
        <script src="scripts.js"></script>
        <title>Emoji Translator</title>
        </head>

        <style>
            #output {
                width: 300px;
                height: 200px;
                border: 2px solid #222;
                
            }
        </style>

    <body>

        <h1>Emoji Translator</h1>

        <form id="mainForm" method='POST'>

            <label for="options">Conversion:</label>
            <select name="cars" id="cars">
                <option value="insert">Insert Emojis</option>
                <option value="translate">Translate Emojis</option>
            </select><br><br>

            <input type="text" name="user_input" placeholder="Input Box" formmethod="post"><br><br>
            <div id="output" readonly>{{test_arr}}</div><br>


            <input type="submit" name="submit" value="Translate" formmethod="post">
            <button id="clear-button" type="button">Clear</button>
            <br><br>
        </form>
        

        <script>
            // Get a reference to the "Clear" button
            const clearButton = document.getElementById('clear-button');

            // Add a click event listener to the "Clear" button
            clearButton.addEventListener('click', function() {
            // Clear the input field
            const inputField = document.querySelector('input[name="user_input"]');
            inputField.value = '';

            // Clear the output container
            const outputContainer = document.getElementById('output');
            outputContainer.textContent = '';
            });
        </script>
        
    </body>
</html>